.side_bar-button {
    display:flex;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    bottom: 35px;
    right: 0px;
    background: #39464e;
    color: #FFF;
    width: 40px;
    height: 40px;
    border-radius: 8px 0 0 8px;
    cursor: pointer;
    z-index: 2;
}

.side_bar-arrow{
    filter: invert(100%);
    width: 12px;
    height: 12px;
    transform: rotate(180deg);
    transition: transform .2s linear;
}

.side_bar-arrow{
    transform: rotate(0deg);
    transition: transform .2s linear;
} 

